---
g_hostname: HomeServer
g_local_domain: home.lab
g_duckdns_domain: mrmodest.duckdns.org
g_cloudflare_domain: in-your.mom
g_timezone: Europe/Berlin

g_ips:
  router: 192.168.178.1
  homelab: 192.168.178.34 # Dell Workstation
  dns: 192.168.178.55 # Raspberry Pi 4B

g_ssh_user:
  user: homessh
  group: homessh
g_smb_user:
  user: sambashare
  group: sambashare
g_apps_user:
  user: apps
  group: apps

g_pools:
  fast:
    name: fast-tank
    mount_path: /mnt/pools/fast
    drives:
      - /dev/disk/by-id/ata-INTENSO_SSD_1642312002004838
      - /dev/disk/by-id/ata-INTENSO_SSD_1642410001006905
    mirror: true
    custom_dirs:
      apps_data_ds: fast-tank/apps-data
      apps_data: '/mnt/pools/fast/apps-data'
      docker_root: '/mnt/pools/fast/docker/data-root' # Default: /var/lib/docker
      compose_files: '/mnt/pools/fast/docker/compose-files'
  slow:
    name: 'slow-tank'
    mount_path: '/mnt/pools/slow'
    drives:
      - /dev/disk/by-id/ata-WDC_WD20EZAZ-00L9GB0_WD-WXC2A51F94ST
      - /dev/disk/by-id/ata-ST2000VM003-1ET164_W5238D50
    mirror: true
    custom_dirs:
      apps_data_ds: slow-tank/apps-data
      apps_data: '/mnt/pools/slow/apps-data'
      shared: '/mnt/pools/slow/shared'
      backups_root: '/mnt/pools/slow/backups'
