services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:${APP_VERSION}
    container_name: 'changedetection'
    hostname: 'changedetection'
    user: '${APP_USER}:${APP_GROUP}'
    env_file:
      - .env
    environment:
      TZ: ${TIMEZONE}
      LC_ALL: en_US.UTF-8

      PLAYWRIGHT_DRIVER_URL: ws://changedetection-browser:3000
      BASE_URL: https://${APP_DOMAIN}
      HIDE_REFERER: true
      FETCH_WORKERS: 2
      MINIMUM_SECONDS_RECHECK_TIME: 60
      SCREENSHOT_MAX_HEIGHT: 16000
    volumes:
      - '${APP_DATA_PATH}/data:/datastore'
    restart: unless-stopped

  changedetection-browser:
    image: dgtlmoon/sockpuppetbrowser:${BROWSER_VERSION}
    container_name: changedetection-browser
    hostname: changedetection-browser
    user: '${APP_USER}:${APP_GROUP}'
    cap_add:
      - SYS_ADMIN # SYS_ADMIN might be too much, but it can be needed on your platform https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-gitlabci
    restart: unless-stopped
    environment:
      SCREEN_WIDTH: 1920
      SCREEN_HEIGHT: 1024
      SCREEN_DEPTH: 16
      MAX_CONCURRENT_CHROME_PROCESSES: 10

networks:
  default:
    external: true
    name: nginxnetwork
