---
- name: Install and run 'Tailscale'
  ansible.builtin.import_role:
    name: artis3n.tailscale
  when: false
  vars:
    tailscale_authkey: "{{ v_tailscale.api_token }}"
  tags:
    - tailscale

- name: Create a docker network
  community.docker.docker_network:
    name: caddy_network

- name: Create a directory for Caddyfile
  ansible.builtin.file:
    path: '{{ p_dirs.apps_data }}/caddy/conf'
    state: directory
    mode: '{{ p_default_permissions.directory }}'
    owner: '{{ p_apps_user.user }}'
    group: '{{ p_apps_user.group }}'
    recurse: true
  become: true

- name: Add 'Caddyfile'
  ansible.builtin.template:
    src: Caddyfile.j2
    dest: "{{ p_dirs.apps_data }}/caddy/conf/Caddyfile"
    owner: '{{ p_apps_user.user }}'
    group: '{{ p_apps_user.group }}'
    mode: '{{ p_default_permissions.file }}'
  become: true

- name: Create a directory for Dockerfile
  ansible.builtin.file:
    path: '{{ p_dirs.compose_files }}/caddy'
    state: directory
    mode: '{{ p_default_permissions.directory }}'
    owner: '{{ p_apps_user.user }}'
    group: '{{ p_apps_user.group }}'
    recurse: true
  become: true

- name: Copy Dockerfile
  ansible.builtin.copy:
    src: Dockerfile
    dest: '{{ p_dirs.compose_files }}/caddy/Dockerfile'
    owner: '{{ p_apps_user.user }}'
    group: '{{ p_apps_user.group }}'
    mode: '{{ p_default_permissions.file }}'
  become: true

- name: Start 'Caddy'
  ansible.builtin.import_tasks: tasks/compose_up.yml
  vars:
    t_app_name: 'caddy'
    t_app_data_dirs:
      - '{{ p_dirs.apps_data }}/caddy'
      - '{{ p_dirs.apps_data }}/caddy/site'
      - '{{ p_dirs.apps_data }}/caddy/data'
      - '{{ p_dirs.apps_data }}/caddy/config'
