---
- name: Set timezone
  become: true
  community.general.timezone:
    name: '{{ p_timezone }}'

- name: Update and upgrade apt packages
  become: true
  ansible.builtin.apt:
    upgrade: true
    update_cache: true
    cache_valid_time: 86400 # One day

- name: Install required system packages
  ansible.builtin.apt:
    pkg:
      - python3
      - python3-pip
      - jq # to pipe jsons
      - bat # 'cat' replacement
      - acl # Access Control List
      - tmux # keep long cli sessions running with laptop turned off
      - ncdu # check free disk space
      - smartmontools # check disk health
      - intel-opencl-icd # Intel OpenCL runtime - for GPU acceleration in Jellyfin
      - mc # Midnight Commander - console file manager
    state: present
  become: true

- name: Install Node.js
  ansible.builtin.import_tasks: cronicle.yml
  become: true
  tags:
    - cronicle

- name: Install 'eza' # 'ls' and 'tree' replacement
  ansible.builtin.import_tasks: install_eza.yml
  become: true
  tags:
    - eza

- name: Install 'docker ps' alternative
  ansible.builtin.get_url:
    url: https://github.com/Mikescher/better-docker-ps/releases/download/v1.12/dops_linux-amd64-static
    dest: /usr/local/bin/dops
    mode: '0555'
  become: true
  tags:
    - dops

- name: Setup aliases
  ansible.builtin.template:
    src: aliases.sh.j2
    dest: /etc/profile.d/aliases.sh
    owner: root
    group: root
    mode: '{{ p_default_permissions.file }}'
  become: true
  tags:
    - aliases

- name: Setup root aliases
  ansible.builtin.template:
    src: aliases.sh.j2
    dest: /root/.bash_aliases
    owner: root
    group: root
    mode: '0555'
  become: true
  tags:
    - aliases

- name: Setup tmux config
  ansible.builtin.template:
    src: tmux.conf.j2
    dest: '/home/{{ p_ssh_user.user }}/.config/tmux/tmux.conf'
    owner: '{{ p_ssh_user.user }}'
    group: '{{ p_ssh_user.group }}'
    mode: '{{ p_default_permissions.file }}'
  become: true
  tags:
    - tmux

- name: Clone a tmux plugin manager
  ansible.builtin.git:
    repo: 'https://github.com/tmux-plugins/tpm'
    dest: '/home/{{ p_ssh_user.user }}/.config/tmux/plugins/tpm'
    version: v3.1.0
    clone: true
    update: true
    force: true
  become: true
  become_user: '{{ p_ssh_user.user }}'
  tags:
    - tmux
