{
  "modno":  22,
  "version":  2,
  "instance":  "HomeServer",
  "repos":  [
    {
      "id":  "main__local",
      "guid": "7c7b38bd692bc129b2634562fcc543f37960adce48529db19d26e81687d27ba1",
      "uri":  "/repos/main",
      "prunePolicy":  {
        "maxUnusedPercent":  10
      },
      "checkPolicy":  {
        "schedule":  {
          "maxFrequencyDays":  1
        },
        "readDataSubsetPercent":  100
      },
      "commandPrefix":  {}
    },
    {
      "id":  "main__mailru-webdav",
      "guid": "eb974d82f45f660be250877977f9c21130d233cc309cf60f8efa7d9f11f2a08c",
      "uri":  "rclone:mailru-webdav:{{ bkrs_rclone_config.mailru.backup_path }}/main",
      "prunePolicy":  {
        "maxUnusedPercent":  10
      },
      "checkPolicy":  {
        "readDataSubsetPercent":  100
      },
      "commandPrefix":  {}
    },
    {
      "id": "paperless_docs__local",
      "guid": "3f5c1d2e16f1fcfe96d5ea707cd6644bf8db30292e3a9899302e301bd2e920a8",
      "uri": "/repos/paperless_docs",
      "prunePolicy": {
        "maxUnusedPercent": 10
      },
      "checkPolicy": {
        "readDataSubsetPercent": 100,
        "schedule": {
          "clock": "CLOCK_LAST_RUN_TIME",
          "maxFrequencyDays": 1
        }
      },
      "commandPrefix": {
        "ioNice": "IO_DEFAULT",
        "cpuNice": "CPU_DEFAULT"
      }
    },
    {
      "id": "paperless_docs__mailru-webdav",
      "guid": "5cd8530ac6e17cd34fe7785f4c89c2b63c468d3e119c4098646d4507d58cfece",
      "uri": "rclone:mailru-webdav:{{ bkrs_rclone_config.mailru.backup_path }}/paperless_docs",
      "prunePolicy": {
        "maxUnusedPercent": 10,
        "schedule": {
          "clock": "CLOCK_DEFAULT"
        }
      },
      "checkPolicy": {
        "readDataSubsetPercent": 100,
        "schedule": {
          "clock": "CLOCK_LAST_RUN_TIME",
          "maxFrequencyDays": 30
        }
      },
      "commandPrefix": {
        "ioNice": "IO_DEFAULT",
        "cpuNice": "CPU_DEFAULT"
      }
    },
    {
      "id": "photos__mailru-webdav",
      "guid": "519c25547d3b0ac173f3db690361a0f01f440909e1c9fc5df96518ce32f0b7bc",
      "uri": "rclone:mailru-webdav:NoSync/Backups/HomeServer/backrest/photos",
      "prunePolicy": {
        "maxUnusedPercent": 10,
        "schedule": {
          "clock": "CLOCK_LAST_RUN_TIME",
          "cron": "0 0 1 * *"
        }
      },
      "checkPolicy": {
        "readDataSubsetPercent": 0,
        "schedule": {
          "clock": "CLOCK_LAST_RUN_TIME",
          "cron": "0 0 1 * *"
        }
      },
      "commandPrefix": {
        "ioNice": "IO_DEFAULT",
        "cpuNice": "CPU_DEFAULT"
      },
      "autoUnlock": false,
      "hooks": []
    },
    {
      "id": "photos__b2-via-s3",
      "uri": "s3:s3.eu-central-003.backblazeb2.com/{{ bkrs_b2.bucket_name }}/photos",
      "guid": "3407cc5768c53c7b33e09ed6e669d2f06cc9fe65f9680223648656f5909d0dd5",
      "env": [
        "AWS_ACCESS_KEY_ID={{ bkrs_b2.s3_access_key_id }}",
        "AWS_SECRET_ACCESS_KEY={{ bkrs_b2.s3_secret_access_key }}"
      ],
      "prunePolicy": {
        "schedule": {
          "disabled": true,
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "maxUnusedPercent": 10
      },
      "checkPolicy": {
        "schedule": {
          "disabled": true,
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "readDataSubsetPercent": 0
      },
      "commandPrefix": {}
    },
  ],
  "plans":  [
    {
      "id":  "main__local__daily",
      "repo":  "main__local",
      "paths":  [
        "/hostfs/home",
        "/hostfs{{ p_dirs.apps_data }}",
        "/hostfs{{ p_dirs.backups_root }}/db_dumps"
      ],
      "excludes":  [
        "tmp",
        "cache",
        ".cache",
        "*.log",
        "*.log.*.gz",
        ".vscode-server"
      ],
      "schedule":  {
        "maxFrequencyDays":  1
      },
      "retention":  {
        "policyTimeBucketed":  {
          "daily":  10,
          "weekly":  4,
          "monthly":  5
        }
      },
      "backup_flags":  [
        "--compression max"
      ]
    },
    {
      "id":  "main__mailru-webdev",
      "repo":  "main__mailru-webdav",
      "paths":  [
        "/hostfs/home",
        "/hostfs{{ p_dirs.apps_data }}",
        "/hostfs{{ p_dirs.backups_root }}/db_dumps"
      ],
      "excludes":  [
        "tmp",
        "cache",
        ".cache",
        "*.log",
        "*.log.*.gz",
        ".vscode-server"
      ],
      "schedule":  {
        "disabled":  true
      },
      "retention":  {
        "policyTimeBucketed":  {
          "daily":  3,
          "weekly":  4,
          "monthly":  3
        }
      },
      "backup_flags":  [
        "--compression max"
      ]
    },
    {
      "id": "paperless_docs__local__weekly",
      "repo": "paperless_docs__local",
      "paths": [
        "/hostfs{{ p_dirs.slow_data }}/paperless/media/documents/originals",
        "/hostfs{{ p_dirs.slow_data }}/paperless/trash"
      ],
      "excludes": [],
      "iexcludes": [],
      "schedule": {
        "clock": "CLOCK_DEFAULT",
        "cron": "0 3 * * 1"
      },
      "backup_flags": [
        "--compression max"
      ],
      "retention": {
        "policyTimeBucketed": {
          "yearly": 1,
          "monthly": 2,
          "weekly": 4,
          "daily": 0,
          "hourly": 0
        }
      },
      "hooks": []
    },
    {
      "id": "paperless_docs__mailru-webdav",
      "repo": "paperless_docs__mailru-webdav",
      "paths": [
        "/hostfs{{ p_dirs.slow_data }}/paperless/media/documents/originals",
        "/hostfs{{ p_dirs.slow_data }}/paperless/trash"
      ],
      "excludes": [],
      "iexcludes": [],
      "schedule": {
        "clock": "CLOCK_DEFAULT"
      },
      "backup_flags": [
        "--compression max"
      ],
      "retention": {
        "policyTimeBucketed": {
          "yearly": 1,
          "monthly": 2,
          "weekly": 4,
          "daily": 0,
          "hourly": 0
        }
      },
      "hooks": []
    },
    {
      "id": "photos__mailru-webdav",
      "repo": "photos__mailru-webdav",
      "paths": [
        "/hostfs{{ p_dirs.slow_data }}/apps-data/immich/data/library",
        "/hostfs{{ p_dirs.slow_data }}/apps-data/immich/external"
      ],
      "excludes": [],
      "iexcludes": [],
      "schedule": {
        "clock": "CLOCK_LOCAL",
        "disabled": true
      },
      "backup_flags": [
        "--compression max"
      ],
      "retention": {
        "policyTimeBucketed": {
          "yearly": 0,
          "monthly": 12,
          "weekly": 0,
          "daily": 3,
          "hourly": 0,
          "keepLastN": 0
        }
      },
      "hooks": []
    },
    {
      "id": "photos__b2-via-s3",
      "repo": "photos__b2-via-s3",
      "paths": [
        "/hostfs{{ p_dirs.slow_data }}/apps-data/immich/data/library",
        "/hostfs{{ p_dirs.slow_data }}/apps-data/immich/external"
      ],
      "excludes": [],
      "iexcludes": [],
      "schedule": {
        "clock": "CLOCK_LOCAL",
        "disabled": true
      },
      "backup_flags": [
        "--compression max"
      ],
      "retention": {
        "policyTimeBucketed": {
          "yearly": 0,
          "monthly": 12,
          "weekly": 0,
          "daily": 3,
          "hourly": 0,
          "keepLastN": 0
        }
      },
      "hooks": []
    }
  ],
  "auth":  {
    "disabled":  true
  }
}
