{
    "log-driver": "loki",
    "log-opts": {
        "loki-url": "{{ obs_loki_docker_driver_opts.loki_host }}:{{ obs_apps_ports.loki }}/loki/api/v1/push",
        "loki-batch-size": "400",
        "max-size": "100m",
        "max-file": "2"
    },
    "metrics-addr" : "{{ obs_prometheus_host }}:{{ obs_apps_ports.docker_metrics }}",
    "experimental" : true
}