{
    "log-driver": "loki",
    "log-opts": {
        "loki-url": "http://loki:3100/loki/api/v1/push",
        "loki-batch-size": "400",
        "loki-retries": "5",
        "mode": "non-blocking",
        "max-size": "100m",
        "max-file": "2"
    },
    "metrics-addr" : "host.docker.internal:9323",
    "experimental" : true
}
