services:
{% for service in services %}
  {{ service.name }}:
    image: {{item.image}}
    container_name: {{ service.name }}
    user: {{ service.user }}
    restart: unless-stopped

  {% if service.ports is defined %}
    ports:
    {% for port in service.ports %}
      - '{{ port }}'
    {% endfor %}
  {% endif %}

    env_file:
      - .env

  {% if service.env_vars is defined %}
    environment:
    {% for env_var in service.env_vars %}
      - '{{ env_var }}'
    {% endfor %}
  {% endif %}

  {% if service.volumes is defined %}
    volumes:
    {% for volume in service.volumes %}
      - '{{ volume }}'
    {% endfor %}
  {% endif %}

  {% if service.extra_host is defined %}
    extra_hosts:
      - '{{ service.extra_host }}'
  {%- endif %}
{% endfor %}
