{% for app in prx_apps %}

{{ app.name }}.{{ prx_my_domain }} {
  reverse_proxy {{ app.container_name | default(app.name, true) }}:{{ app.port }}
  tls {
    dns duckdns {
      api_token {env.DUCKDNS_API_TOKEN}
      override_domain {{ app.name }}.{{ prx_duckdns_domain }}
    }
  }
}

{% endfor %}