{
  http_port 8080
  https_port 8081
  servers {
    trusted_proxies cloudflare {
      interval 12h
      timeout 15s
    }
  }
}

*.{{ prx2_duckdns_domain }}, {{ prx2_duckdns_domain }} {
  tls {
    dns duckdns {env.DUCKDNS_API_TOKEN}
    resolvers 1.1.1.1
  }

{% for app in prx2_apps %}
  @{{ app.slug }} host {{ app.slug }}.{{ prx2_duckdns_domain }}
  handle @{{ app.slug }} {
{% if app.scheme is defined and app.scheme == 'https' %}
    reverse_proxy https://{{ app.hostname }}:{{ app.port }} {
      transport http {
        tls_insecure_skip_verify
      }
    }
{% else %}
    reverse_proxy {{ app.hostname }}:{{ app.port }}
{% endif %}
  }

{% endfor %}
  handle {
    respond 404
  }
}

*.{{ prx2_cf_domain }}, {{ prx2_cf_domain }} {
  tls {
    dns cloudflare {env.CF_API_TOKEN}
    resolvers 1.1.1.1
  }

{% for app in prx2_apps %}
  @{{ app.slug }}_cf host {{ app.slug }}.{{ prx2_cf_domain }}
  handle @{{ app.slug }}_cf {
{% if app.scheme is defined and app.scheme == 'https' %}
    reverse_proxy https://{{ app.hostname }}:{{ app.port }} {
      transport http {
        tls_insecure_skip_verify
      }
    }
{% else %}
    reverse_proxy {{ app.hostname }}:{{ app.port }}
{% endif %}
  }

{% endfor %}
  handle {
    respond 404
  }
}
